.content {
    margin-top: 67px;
    padding: 0 20px;
    margin-bottom: 125px;
}
.content .title {
    height: 110px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #293845;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: center;
}

.session {
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 400;
    margin-bottom: 20px;
}

.session .date {
    color: #293845;
    font-size: 20px;
    line-height: 23px;

    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.schedules {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.session .show-times {
    width: 83px;
    height: 43px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    background-color: #E8833A;
    
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
}

.chosen {
    width: 100%;
    height: 117px;

    display: flex;
    align-items: center;

    padding: 0 10px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;

    position: fixed;
    bottom: 0;
    left: 0;

    color: #293845;
    font-size: 26px;
    font-weight: 400;
    line-height: 30px;
}

.chosen .movie {
    width: 64px;
    height: 89px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    padding: 8px;
    margin-right: 14px;
}

.chosen .movie img {
    width: 100%;
    height: 100%;
}