.title {
    width: 100%;
    height: 110px;

    margin-top: 67px;
    
    color: #293845;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.seats-browse {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;

    padding: 0 25px;
    margin-bottom: 16px;
}

.seats {
    width: 26px;
    height: 26px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 15px;

    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 12px;

    color: #000000;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.04em;
}

.subtitle {
    display: flex;
    justify-content: space-evenly;

    padding: 0 20px;
}

.type-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-name {
    color: #4E5A65;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: -0.013em;
}

.subtitle .type {
    width: 25px;
    height: 25px;

    border-radius: 17px;
}

.free {
    background-color: #C3CFD9;
    border: 1px solid #7B8B99;
}

.selected {
    background-color: #8DD7CF;
    border: 1px solid #1AAE9E;
}

.occupied {
    background-color: #FBE192;
    border: 1px solid #F7C52B;
}

.occupied:hover {
    cursor: not-allowed;
}
.selected:hover, .free:hover {
    cursor: pointer;
}

.chosen {
    width: 100%;
    height: 117px;

    display: flex;
    align-items: center;

    padding: 0 10px;
    background-color: #DFE6ED;
    border: 1px solid #9EADBA;

    position: fixed;
    bottom: 0;
    left: 0;
}

.chosen .movie {
    width: 64px;
    height: 89px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    padding: 8px;
    margin-right: 14px;
}

.chosen .movie img {
    width: 100%;
    height: 100%;
}

.chosen .description {
    color: #293845;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
}

.chosen .description .film-title {
    margin-bottom: 5px;
}